backups:
  - name: remote
    type: ssh
    target: user@server.de
    folders:
      - /root
      - /etc
  - name: local
    type: local
    folders:
    - /etc
    - path: /home/important
      tags:
        - important
# Uses pg_dumpall to save the database
  - name: k8s_psql
    type: psql
    user: postgres
    password: mycoolpsqlpassword
    port: 5432
    # Optional: Needs permissions to port forward the deployment
    k8s_deployment: postgresql-deployment-0
    tags:
      - important
  # Requires ludusavi. Searches for all saves on the local pc and adds it to the backup
  - name: games
    types: saves
    games:
      # Game specific settings. Currently name is a 1:1 match of the output from ludusavi backup --preview --api
      - name: Stardew Valley
        tags:
          - important
excludes:
- '*.fit'

repository:
  options:
    cmdline: -v --stats -p -C lzma
    prune:
      daily: 7
      monthly: 6
      weekly: 4
    password:
      type: password_store
      system: borg
      user: borg_user
  repositories:
  - /path/to/backup
  - path: /mnt/backup
    password:
      type: plain
      value: mypassword
    prune:
      weekly: 2
  - path: ssh://user@limited-storage.com/./repo
    prune:
      hourly: 1
    tags:
      - important

